body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

a-text {
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2px 5px;
}
